<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="Titulo">CRUD DATA BASE</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Titulo">{{ accion | uppercase}} USUARIO</h3>

                <form [formGroup]="form" (ngSubmit)="guardarUser()">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user" [class.green-icon]="this.form.get('Nombre')?.valid"
                            [class.red-icon]="this.form.get('Nombre')?.invalid && this.form.get('Nombre')?.touched"></i>
                        </span>
                        <input formControlName="Nombre" type="text" maxlength="16" class="form-control" placeholder="Nombres">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-regular fa-user" [class.green-icon]="this.form.get('Apellido')?.valid"
                            [class.red-icon]="this.form.get('Apellido')?.invalid && this.form.get('Apellido')?.touched"></i>
                        </span>
                        <input formControlName="Apellido" type="text" maxlength="16" class="form-control" placeholder="Apellidos">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-sharp fa-solid fa-location-dot" [class.green-icon]="this.form.get('Direccion')?.valid"
                            [class.red-icon]="this.form.get('Direccion')?.invalid && this.form.get('Direccion')?.touched"></i>
                        </span>
                        <input formControlName="Direccion" type="text" maxlength="20" class="form-control" placeholder="Direccion">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-phone" [class.green-icon]="this.form.get('Telefono')?.valid"
                            [class.red-icon]="this.form.get('Telefono')?.invalid && this.form.get('Telefono')?.touched"></i>
                        </span>
                        <input formControlName="Telefono" type="text" maxlength="11" class="form-control" placeholder="Telefono">
                    </div>


                    <div class="d-grid gap-2">

                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="fa-solid fa-registered"></i>&nbsp; Aceptar</button>

                    </div>

                </form>


            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Usuarios</h5>
                <table class="table">
                    <tbody>

                        <tr *ngFor="let save of listCRUD | paginate: { itemsPerPage: 5, currentPage: currentPage}">
                            <td>ID:{{save.id}}</td>
                            <td>{{ save.nombre }} </td>
                            <td>{{ save.apellido }}</td>
                            <td>{{ save.direccion }}</td>                            
                            <td>{{ save.telefono }}</td>
                            <td><i (click)="actualizarUser(save)" class="cursorPointer fa-regular fa-pen-to-square text-info"></i></td>
                        </tr>
                        
                    </tbody>
                </table>
                <pagination-controls (pageChange)="currentPage = $event" ></pagination-controls>



            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Read</h5>
                <form [formGroup]="form" (ngSubmit)="ConsultarById(IDconsultar)">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user" [class.green-icon]="this.form.get('IDaConsultar')?.valid"
                            [class.red-icon]="this.form.get('IDaConsultar')?.invalid && this.form.get('IDaConsultar')?.touched"></i>
                        </span>
                        <input formControlName="IDaConsultar" maxlength="5" type="number" [(ngModel)]="IDconsultar" class="form-control"
                            placeholder="ID a consultar">
                    </div>


                    <div class="d-grid gap-2">

                        <button [disabled] type="submit" class="btn btn-success btn-lg">
                            <i class="fa-solid fa-database" ></i>&nbsp; Consultar</button>

                    </div>

                </form>


            </div>


        </div>
    </div>
</div>



<br>
<div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Delete</h5>

                <form [formGroup]="form" (ngSubmit)="Eliminar(IDeliminar)">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-xmark" [class.green-icon]="this.form.get('IDaEliminar')?.valid"
                            [class.red-icon]="this.form.get('IDaEliminar')?.invalid && this.form.get('IDaEliminar')?.touched"></i>
                        </span>
                        <input formControlName="IDaEliminar" type="number" maxlength="5" class="form-control" [(ngModel)]="IDeliminar" placeholder="ID a eliminar" >
                    </div>


                    <div class="d-grid gap-2">

                        <button [disabled] type="submit" class="btn btn-success btn-lg">
                            <i class="fa-sharp fa-solid fa-trash"></i>&nbsp; Eliminar
                        </button>

                    </div>
                    
                </form>
            </div>
            </div>
        </div>
    </div>

    </div>
   
