<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="Titulo">CRUD DATA BASE</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class="Titulo">{{ accion | uppercase}} USUARIO</h3>

                <form [formGroup]="form" (ngSubmit)="guardarUser()">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombres">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <input formControlName="Apellido" type="text" class="form-control" placeholder="Apellidos">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                        </span>
                        <input formControlName="Direccion" type="text" class="form-control" placeholder="Direccion">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-phone"></i>
                        </span>
                        <input formControlName="Telefono" type="text" class="form-control" placeholder="Telefono">
                    </div>


                    <div class="d-grid gap-2">

                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="fa-solid fa-registered"></i>&nbsp; Aceptar</button>

                    </div>

                </form>


            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Usuarios</h5>
                <table class="table">
                    <tbody>

                        <tr *ngFor="let save of listCRUD">
                            <td>{{ save.nombre }} </td>
                            <td>{{ save.apellido }}</td>
                            <td>{{ save.direccion }}</td>                            
                            <td>{{ save.telefono }}</td>
                            <td><i (click)="actualizarUser(save)" class="cursorPointer fa-regular fa-pen-to-square text-info"></i></td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Read</h5>
                <form [formGroup]="form" (ngSubmit)="ConsultarById(IDconsultar)">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <input formControlName="IDaConsultar" type="number" [(ngModel)]="IDconsultar" class="form-control"
                            placeholder="ID a consultar">
                    </div>


                    <div class="d-grid gap-2">

                        <button [disabled] type="submit" class="btn btn-success btn-lg">
                            <i class="fa-solid fa-database"></i>&nbsp; Consultar</button>

                    </div>

                </form>


            </div>


        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="Titulo">Delete</h5>

                <form [formGroup]="form" (ngSubmit)="Eliminar(IDeliminar)">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        <input formControlName="IDaEliminar" type="number" class="form-control" [(ngModel)]="IDeliminar" placeholder="ID a eliminar" >
                    </div>


                    <div class="d-grid gap-2">

                        <button [disabled] type="submit" class="btn btn-success btn-lg">
                            <i class="fa-sharp fa-solid fa-trash"></i>&nbsp; Eliminar
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>